/* BACKGROUND COLOR */
/* TEXT COLOR */
/* TEXT DECORATION */
/* ICON COLOR */
/* BORDER COLOR */
/* DISPLAY FLEX */
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

p,
h3 {
  margin: 0;
  line-height: 25px;
}

a {
  text-decoration: none;
  color: #000000;
}

.section-title {
  margin: 20px 0 30px 0;
}

header {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}
@media screen and (min-width: 767.98px) {
  header {
    margin: 25px 0;
  }
}
header .nav_icon {
  position: absolute;
  top: 22px;
  left: 32px;
}
@media screen and (min-width: 767.98px) {
  header .nav_icon {
    top: 35px;
  }
}
header .logo {
  width: 185px;
}
@media screen and (min-width: 767.98px) {
  header .logo {
    width: 200px;
  }
}

/* EXPLORATION */
.exploration_button {
  display: flex;
  background: linear-gradient(#FF79DA -22%, #9356DC);
  color: white;
  font-weight: 500;
  border-radius: 55px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  padding: 15px 27px;
}

/* MENU RESTAURANTS */
.menu_button {
  display: flex;
  justify-content: center;
  width: 130px;
  background: linear-gradient(#FF79DA -22%, #9356DC);
  color: white;
  font-weight: 500;
  border-radius: 55px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  padding: 15px 27px;
}

/* ICON LOCALISATION */
.localisation > .icon_dot {
  display: flex;
  align-items: center;
  color: #353535;
  margin-Right: 20px;
}

/* ICON STEPS */
.steps_icon1 {
  display: flex;
  align-items: center;
  color: #7E7E7E;
}

.steps_icon2 {
  display: flex;
  align-items: center;
  color: #9356DC;
}

/* ICON HEART */
.icon_heart {
  display: flex;
  align-items: center;
  color: #000000;
}

/* ICON FOOTER */
.icon_footer {
  color: white;
  margin-right: 10px;
}

/* RESTAURANTS */
.card {
  display: flex;
  flex-direction: column;
  position: relative;
}
@media screen and (min-width: 767.98px) {
  .card {
    margin-bottom: 0;
  }
}
.card_new {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 45px;
  left: 72%;
  background-color: #99E2D0;
  color: #008766;
  font-family: 500;
  font-size: 14px;
  width: 24%;
  height: 29px;
  border-radius: 2px;
}
@media screen and (min-width: 767.98px) {
  .card {
    margin-bottom: 0;
  }
}
.card_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 15px 30px 15px 15px;
  box-sizing: border-box;
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.card_txt .card_subtitle {
  font-weight: 300;
}

footer {
  background-color: #353535;
  color: white;
}
@media screen and (min-width: 767.98px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
  }
}
footer .footer-content {
  padding: 0 0 20px 35px;
}
@media screen and (min-width: 767.98px) {
  footer .footer-content {
    display: flex;
    padding-bottom: 0;
  }
}
footer .footer-logo {
  font-family: "Shrikhand", sans-serif;
  padding: 20px 0 20px 35px;
  letter-spacing: 0.5px;
}
@media screen and (min-width: 767.98px) {
  footer .footer-logo {
    padding: 54px 56px 20px 52px;
  }
}
footer a {
  color: white;
  line-height: 25px;
}

.list1 p {
  font-weight: 500;
}

@media screen and (min-width: 767.98px) {
  .list1, .list2 {
    display: flex;
    padding: 60px 29px 25px 0;
  }
}
@media screen and (min-width: 767.98px) {
  .list1 p, .list2 p {
    padding-right: 15px;
  }
}

/* LOCALISATION */
.localisation {
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
  padding: 17px 0;
}
.localisation p {
  font-weight: 500;
  color: #353535;
}

/* EXPLORATION */
.exploration {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 47px 53px 47px;
  background-color: #F6F6F6;
}
@media screen and (min-width: 767.98px) {
  .exploration {
    padding-bottom: 30px;
  }
}
.exploration h2 {
  text-align: center;
}
@media screen and (min-width: 767.98px) {
  .exploration h2 {
    font-size: 40px;
  }
}
.exploration p {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 30px;
}

/* STEPS */
.steps {
  display: flex;
  flex-direction: column;
  padding: 30px 20px 30px 30px;
  position: relative;
}
@media screen and (min-width: 767.98px) {
  .steps {
    padding: 20px 80px 35px 80px;
  }
}
@media screen and (min-width: 1024px) {
  .steps {
    padding: 20px 150px 35px 150px;
  }
}
.steps_number {
  display: flex;
  justify-content: center;
  position: relative;
  left: -13px;
  top: 49px;
  background-color: #9356DC;
  color: white;
  width: 27px;
  border-radius: 50px;
}
.steps_diff {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 767.98px) {
  .steps_diff {
    flex-direction: row;
    justify-content: space-around;
  }
}
.steps_div {
  width: 100%;
}
@media screen and (min-width: 767.98px) {
  .steps_div {
    margin: 0 3% 0 2%;
  }
}
.steps .section-title {
  margin-bottom: 0;
}

.steps_content {
  display: flex;
  background-color: #F6F6F6;
  border-radius: 25px;
  padding: 25px 0 25px 30px;
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.15);
}
.steps_content p {
  padding-left: 16px;
  font-weight: 500;
}

/* RESTAURANTS CARDS */
.restaurants {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  padding: 30px 20px;
}
@media screen and (min-width: 767.98px) {
  .restaurants {
    padding: 20px 80px 35px 80px;
  }
}
@media screen and (min-width: 1024px) {
  .restaurants {
    padding: 20px 150px 35px 150px;
  }
}
.restaurants_card {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 767.98px) {
  .restaurants_card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 50px;
  }
}
@media screen and (min-width: 1024px) {
  .restaurants_card {
    gap: 40px 100px;
  }
}
.restaurants img {
  width: 100%;
  height: 170px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}

/*# sourceMappingURL=accueil.css.map */
