@import "./utils/variables";
@import "./layouts/header";
@import "./composants/card";
@import "./layouts/footer";

/* GENERAL */



a {
    text-decoration: none;
    color: $txt-color;
}

p,
h3 {
    margin: 0;
    line-height: 25px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: $font-family-general;
}

.section-title {
    margin: 20px 0 30px 0 ;
}

/* localisation*/

.localisation {
    background-color: $background-loc;
    padding: 25px 0;

    .icondot {
        color: $icon-dot;
        display: flex ;
        justify-content: center;
    }
}

/* STEPS BTN */

.steps {

    padding: 47px 20px;

    &_number {
        display: flex;
        justify-content: center;
        background-color: $background-stepsnumber;
        color: $txt-stepsnumber;
        width: 27px;
        border-radius: 50px;
    }

    &_diff {
        display: flex;
        flex-direction: column;
    }
}

.steps_content {

    display: flex;
    flex-direction: Row;
    background-color: $background-btn-steps;
    border-radius: 25px;
    padding: 25px 0 25px 40px;
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.15);

    .steps_icon1 {
        color: $icon-steps1;
    }

    .steps_icon2 {
        color: $icon-steps2;
    }
    }