
/* EXPLORATION */

.exploration_button {
    @include btn;
    display: flex;
    transition: opacity 250ms;

    &:hover {
        opacity: 0.85;
    }
    
}

/* MENU RESTAURANTS */

.menu_button {
    @include flexrow-contentcenter;
    @include btn;
    width: 130px;
    transition: opacity 250ms;

    &:hover {
        opacity: 0.85;
    }
}