.restaurants {
    display: flex;
    flex-direction: column;
    background-color: $background-general;
    padding: 30px 20px;

    @media screen and (min-width: 767.98px) {
        padding: 20px 80px 35px 80px;
    }

    @media screen and (min-width: 1024px) {
        padding: 20px 150px 35px 150px;
    }

    &_card {
        display: flex;
        flex-direction: column;
        gap: 30px;

        @media screen and (min-width: 767.98px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 40px 50px;
        }

        @media screen and (min-width: 1024px) {
            gap: 40px 100px;
        }
    }

    img {
        width: 100%;
        height: 170px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover;
    }

    .card {
        display: flex;
        flex-direction: column;
        position: relative;

        &_new {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            top: 45px;
            left: 72%;
            background-color: $background-new;
            color: $txt-new;
            font-size: 14px;
            width: 24%;
            height: 29px;
            border-radius: 2px;
        }

        @media screen and (min-width: 767.98px) {
            margin-bottom: 0;
        }
    }
}

.card_content {
    width: 100%;
    padding: 15px 30px 15px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: $background-cardcontent;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    .iconheart {
        color: $icon-heart;
        display: flex;
        align-items: center;
    }
}