.exploration {
    @include flexcolumn-itemscenter;
    padding: 20px 47px 53px 47px;
    background-color: $background-general;
    
    h2 {
        text-align: center;
    }

    p {
        text-align: center;
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 30px;
    }
}