/* ICON LOCALISATION */

.localisation > .icon_dot {
    @include flexrow-itemscenter;
    color: $icon-dot;
    margin-Right: 20px; 
}

/* ICON STEPS */

.steps_icon1 {
    @include flexrow-itemscenter;
    color: $icon-steps1;
}

.steps_icon2 {
    @include flexrow-itemscenter;
    color: $icon-steps2;
}

/* ICON HEART */

.icon_heart {
    @include flexrow-itemscenter;
    color: $icon-heart;

}

/* ICON FOOTER */

.icon_footer {
    color: $icon-footer;
    margin-right: 10px;
}