/* ICON LOCALISATION */

.localisation > .icondot {
    @include flexrow-itemscenter;
    color: $icon-dot;
    margin-Right: 20px; 
}

/* ICON STEPS */

.steps_icon1 {
    color: $icon-steps1;
    display: flex;
    align-items: center;
}

.steps_icon2 {
    @include flexrow-itemscenter;
    color: $icon-steps2;
}

/* ICON HEART */

.iconheart {
    @include flexrow-itemscenter;
    color: $icon-heart;

}

/* ICON FOOTER */

.icon-footer {
    color: $icon-footer;
    margin-right: 10px;
}