/* ICON HEADER */

.icon_arrow {
    position: absolute;
    top: 22px;
    left: 32px;
}

/* ICON LOCALISATION */

.localisation > .icon_dot {
    @include flexrow-itemscenter;
    color: $icon-dot;
    margin-Right: 20px; 
}

/* ICON STEPS */

.steps_icon {
    @include flexrow-itemscenter;
    color: $icon-steps;
}

.steps_icon:hover {
    color: $icon-steps2;
}

/* ICON HEART */

.icon_heart {
    @include flexrow-itemscenter;
    color: $icon-heart;
}

/* ICON CHECK */

.icon_check {
    color: $icon-check;
}

   

/* ICON FOOTER */

.icon_footer {
    color: $icon-footer;
    margin-right: 10px;
}