/* MENU TITLE */

.menu {
    @include flexcolumn;
    position: relative;
    top: -35px;
    margin-bottom: -35px;
    background-color: #F6F6F6;
    border-radius: 40px 40px 0 0;
    padding: 12px 15px;

    &_title {
        @include flexrow-spaceb;
        font-family: $font-family-title;
        margin-top: 20px;
            
        .menu_title1 {
            margin: 0;
        }
    }
}

/* MENU CONTENT */

.menu_container {
    @include flexcolumn;
    gap: 12px;

    .menu_title2 {
        text-transform: uppercase;
        border-bottom: solid 3px $brd-menu;
        width: 40px;
        line-height: 25px;
        margin: 30px 0 0 0;
    }
}

.menu_content {
    @include overflow;
    background-color: $background-cardcontent;
    border-radius: 20px;
    box-shadow: 0px 4px 15px 0px #0000001A;
    padding: 12px 15px;
    width:100%;

    .menu_title3 {
    @include overflow;
    }

    .menu_txtdiv {
        @include flexrow-spaceb;
        align-items: center;

        .menu_txt {
        @include overflow;
        }
    }
}

.menu_end {
    @include flexrow-contentcenter;
    margin: 43px 0 30px 0;
}



/* TRANSITION */

article {
    display: flex;

    .menu_check {
        @include flexrow-allcenter;
        visibility: hidden;
        opacity: 0;
        width: 0;
        transition: all 0.2s ease-out;
    }

    &:hover {
        display: flex;
        flex-direction: row;

        .menu_content {
            border-radius: 20px 0 0 20px;
        }

        .menu_check {
            visibility: visible;
            opacity: 1;
            background-color: $background-check;
            width: 75px;
            border-radius: 0 20px 20px 0;
        }
    }    
}

