/* MENU TITLE */

.menu {
    @include flexcolumn;
    position: relative;
    top: -35px;
    margin-bottom: -35px;
    background-color: #F6F6F6;
    border-radius: 40px 40px 0 0;
    padding: 12px 15px;

    &_title {
        @include flexrow-spaceb;
        font-family: $font-family-title;
        margin-top: 20px;
            
        .menu_title1 {
            margin: 0;
        }
    }
}

/* MENU CONTENT */

.menu_container {
    @include flexcolumn;
    gap: 12px;

    .menu_title2 {
        text-transform: uppercase;
        border-bottom: solid 3px $brd-menu;
        width: 40px;
        line-height: 25px;
        margin: 30px 0 0 0;
    }
}

.menu_content {
    background-color: $background-cardcontent;
    border-radius: 20px;
    box-shadow: 0px 4px 15px 0px #0000001A;
    padding: 12px 15px;

    .menu_txtdiv {
        @include flexrow-spaceb;
        align-items: center;

        .menu_txt {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.menu_end {
    @include flexrow-contentcenter;
    margin: 43px 0 30px 0;
}

