.steps {
    @include flexcolumn;
    padding: 30px 20px 54px 30px;
    position:relative;

    &_title {
        margin-bottom: 0;
    }

    &_number {
        @include flexrow-contentcenter;
        position: relative;
        left: -13px;
        top: 62px;
        background-color: $background-stepsnumber;
        color: $txt-stepsnumber;
        width: 27px;
        border-radius: 30px;
        margin-top:-26px;
    }

    &_diff {
        @include flexcolumn;
    }

    &_div {
        width: 100%;
    }
}

.steps_content {
    display: flex;
    background-color: $background-btn-steps;
    border-radius: 20px;
    padding: 25px 0 25px 30px;
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.15);
    list-style-type: none;

    .steps_txt {
        padding-left: 16px;
    }
}