/* FONT WEIGHT*/

.exploration_button, .menu_button, .card_new, .localisation_txt, .steps_txt, .list1_txt, .menu_title3, .menu_euros {
    font-weight: 500;
}

.menu_title1 {
    font-weight: 400;
}

.card_subtitle, .exploration_txt, .menu_title2, .menu_txt {
    font-weight: 300;
}

/* FONT SIZE */

.card_new {
    font-size: 14px;
}

.menu_title2 {
    font-size: 16px;
}

.exploration, .menu_euros {
    font-size: 18px;
}

.menu_title1 {
    font-size: 28px;
}