/* DISPLAY FLEX */

@mixin flexcolumn {
    display: flex;
    flex-direction: column;
}

@mixin flexcolumn-itemscenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin flexrow-contentcenter {
    display: flex;
    justify-content: center;
}

@mixin flexrow-itemscenter {
    display: flex;
    align-items: center;
}

@mixin flexrow-allcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexrow-spaceb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@mixin flexrow-reverse {
    display: flex;
    flex-direction: row-reverse;
}

/* BOUTON */

@mixin btn {
    background: $background-btn;
    color: $txt-button;
    border-radius: 55px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    padding: 15px 27px;
}