/* BACKGROUND COLOR */

$background-loc: #EAEAEA;
$background-general: #F6F6F6;
$background-cardcontent: white;
$background-new: #99E2D0;
$background-footer: #353535;
$background-stepsnumber: #9356DC;
$background-btn-steps: #F6F6F6;
$background-btn: linear-gradient( #FF79DA -22%,#9356DC);
$background-check: #99E2D0;
$background-loader: linear-gradient(#F6F6F6, #FFDEFD);


/* TEXT COLOR */

$txt-color: #000000;
$txt-dot: #353535;
$txt-new: #008766;
$txt-footer: white;
$txt-stepsnumber: white;
$txt-button: white;

/* TEXT DECORATION */

$font-family-general: 'Roboto', sans-serif;
$font-family-title: 'Shrikhand', sans-serif;

/* ICON COLOR */

$icon-dot: #353535;
$icon-heart:#000000;
$icon-footer: white;
$icon-steps: #7E7E7E;
$icon-steps2: #9356DC;
$icon-arrow: #353535;
$icon-check: white;

/* BORDER COLOR */

$brd-menu: #99E2D0;


