/* BACKGROUND COLOR */

$background-loc: #EAEAEA;
$background-general: #F6F6F6;
$background-cardcontent: white;
$background-new: #99E2D0;
$background-footer: #353535;

/* TEXT COLOR */

$txt-color: #000000;
$txt-new: #008766;
$txt-footer: white;

/* TEXT DECORATION */

$font-family-general: 'Roboto', sans-serif;
$font-family-title: 'Shrikhand', sans-serif;

/* ICON COLOR */

$icon-dot: #000000;
$icon-heart:#000000;
$icon-footer: white;

