footer {
    background-color: $background-footer;
    color: $txt-footer;

    .footer_content {
        padding: 0 0 20px 35px;
    }

    .footer_logo {
        font-family: 'Shrikhand', sans-serif;
        padding: 20px 0 20px 35px;
        letter-spacing: 0.5px;
    }

    a {
        color: $txt-footer;
        line-height: 25px;
    }
}
