header {
    @include flexrow-contentcenter;
    margin: 15px 0;

    @media screen and (min-width: 767.98px) { 
        margin: 25px 0;
    }

    .nav_icon {
        position: absolute;
        top: 22px;
        left: 32px;

        @media screen and (min-width: 767.98px) { 
            top: 35px;
        }
    }

    .logo {
        width: 185px;

        @media screen and (min-width: 767.98px) { 
            width: 200px;  
        }
    }
}