header{
    margin: 15px 0;
    display: flex;
    justify-content: center;
    
    .logo {
        width: 185px;

        @media screen and (min-width: 600px) { 
            width: 200px;  
    }
}}