.localisation {
    @include flexrow-contentcenter;
    background-color: $background-loc;
    padding: 17px 0;

    p {
        font-weight: 500;
        color: $txt-dot;
    }

    .icondot {
        @include flexrow-itemscenter;
        color: $icon-dot;
        margin-Right: 20px;

    }
}